<h1 class="notifications-title">Lista de Notificaciones</h1>

<ul class="notifications-list">
    <% @notifications.each do |notification| %>
        <li class="notification-item">
            <%= link_to notification.content, admin_notification_path(notification), class: "notification-link" %>
            <span class="notification-date"><%= notification.created_at.strftime('%d/%m/%Y %H:%M') %></span>
        </li>
    <% end %>
</ul>


