<h1>Ofertas Laborales</h1>

<ul class="list-group">
    <% @job_offers.each do |job_offer| %>
        <li class="list-group-item">
            <%= link_to job_offer.title, regular_users_job_offer_path(job_offer) %>
            <%= link_to 'Ver detalle', regular_users_job_offer_path(job_offer), class: 'btn btn-primary btn-sm ms-2' %>
        </li>
    <% end %>
</ul>

