<div class="user-dashboard">
    <h1>Welcome <%= current_user.first_name %> to Your Dashboard</h1>
    <p>This is your dashboard content.</p>
</div>


<%= link_to 'Edit Profile', edit_user_registration_path %>