<div class="welcome-text">
    <h1><strong> No olvides cambiar tu clave si es la primera vez que ingresas</strong></h1>
    <h1>¡Tu Oportunidad de Crecimiento!</h1>
    <p>Bienvenido al Portal de Empleo <%= current_user.first_name %>! Aquí encontrarás oportunidades para crecer y avanzar en tu carrera dentro de nuestra organización.</p>
</div>
