
<div class="admin-container">
    <h1 class="admin-header">Bienvenido al Panel de Administrador</h1>

    <%= link_to "Crear Nuevo Usuario", new_admin_user_path, class: "admin-btn" %>

    <%= link_to 'Crear nueva Oferta', new_admin_job_offer_path, class: "admin-btn" %>








