<div class="admin-container">
    <div class="center-content">
        <h1 class="admin-header">Bienvenido al Panel de Administrador</h1>

        <%= link_to "Crear Nuevo Usuario", new_admin_user_path, class: "admin-btn me-4 py-3" %>

        <%= link_to 'Crear nueva Oferta', new_admin_job_offer_path, class: "admin-btn ms-4 py-3" %>
    </div>
</div>


<h1>PONER IMAGEN DE MODELADOS</h1>





