<h1 class="admin-heading my-5">Postulaciones</h1>
<%== pagy_bootstrap_nav(@pagy) %> <!--gema pagy-->
<div class="postulations-list">
    <% @job_offers_with_applies.each do |job_offer| %>
        <div class="postulation-card">
        <div class="postulation-card-header">
            <h2 class="postulation-title"><%= job_offer.title %></h2>
        </div>
        <hr>
        <div class="postulation-card-body">
            <p class="postulation-count">Postulaciones: <%= job_offer.applies.count %></p>
        </div>
        <div class="postulation-card-footer">
            <% if job_offer.applies.any? %>
            <%= link_to 'Ver Detalle', admin_job_offer_apply_path(job_offer, job_offer.applies.first), class: 'view-details-btn' %>
            <% end %>
        </div>
        </div>
    <% end %>
</div>





